{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="http://s3.amazonaws.com/bucketname/main.css">
</head>
<body>
  {% for post in posts %}
    <section>

      <div>
        <img src={{ post.upload.url }} alt="Mountain" width="400"/>
      </div>

      <article>
        <small>{{ post.date_posted|date:"d E Y" }}</small>
        <p>{{ post.content }}</p>
      </article>

      <h1>co do kurwy nédzy?</h1>
    </section>
  {% endfor %}
</body>
</html>